
<SCRIPT language=JavaScript>
    <!--

           function send(name, addy, domain) {
              s = 'ma' + 'ilto' + ':' + name + ' <' + addy + '@' + domain + '>';
              window.location.replace(s);
           }
           function show(name, addy, domain) {
              s = name + '\n' + addy + '@' + domain;
              alert(s);
           }
                
//--> </SCRIPT>

<table border="0" cellpadding="2" cellspacing="0" class="object-left">
    <tbody>
        <tr>
            <td class="c1" valign="top">
            <p><a id="top" name="top"></a>Please click on option below</p>

            <ul>
                <li><a href="#faculty" target="_self">Faculty</a></li>
                <li><a href="#adjfac" target="_self">Adjunct Faculty</a></li>
                <li><a href="#gradfac" target="_self">Graduate Research Faculty</a></li>
                <li><a href="#non-gradfac" target="_self">Non-graduate Faculty</a></li>
                <li><a href="#emeritus" target="_self">Emeritus Faculty</a></li>
                <li><a href="#postdocs" target="_self">Postdoctoral Fellows</a></li>
                <li><a href="#staff" target="_self">Staff</a></li>
                <li><a href="http://web2.physics.fsu.edu/Graduates/Our-Students/">Graduates</a></li>      
            </ul>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Main Office:</th>
            <th scope="col">Graduate Office:</th>
            <th scope="col">Undergraduate Office:</th>
            <th scope="col">The Pat Thomas Planetarium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Department of Physics<br />
            Florida State University<br />
            77 Chieftan Way<br />
            Tallahassee, FL<br />
            32306-4350</td>
            <td>Graduate Office<br />
            Department of Physics<br />
            Florida State University<br />
            77 Chieftan Way<br />
            Tallahassee, FL 32306-4350</td>
            <td>Undergraduate Office<br />
            Department of Physics<br />
            Florida State University<br />
            77 Chieftan Way<br />
            Tallahassee, FL 32306-4350</td>
            <td>The Pat Thomas Planetarium Department of Physics<br />
            Florida State University<br />
            77 Chieftan Way<br />
            Tallahassee, FL 32306-4350</td>
        </tr>
        <tr>
            <td>Phone: <a href="tel:1-850-644-2868" id="" rel="" target="" title="">(850) 644-2868</a></td>
            <td>Phone: <a href="tel:1-850-644-4473" rel="" target="" title="">(850) 644-4473</a></td>
            <td>Phone: <a href="tel:1-850-644-3245">(850) 644-3245</a></td>
            <td>Phone: <a href="tel:1-850-644-5567">(850) 644-5567</a></td>
        </tr>
        <tr>
            <td>Fax: <a href="fax:1-850-644-8630">(850) 644-8630</a></td>
            <td>Fax: <a href="fax:1-850-644-8630" rel="" target="" title="">(850) 644-8630</a></td>
            <td>Fax: <a href="fax:1-850-644-8630"> (850) 644-8630</a></td>
            <td>Fax: <a href="fax:1-850-644-8630">(850) 644-8630</a></td>
        </tr>
        <tr>
            <td>
            <p>Email: <a href="javascript:send(&quot;Main Office Secretary&quot;,&quot;mo_secretary&quot;,&quot;physics.fsu.edu&quot;)">send email</a><br />
            <a href="javascript:show(&quot;Main Office Secretaroy&quot;,&quot;mo_secretary&quot;,&quot;physics.fsu.edu&quot;)">show email</a></p>
            </td>
            <td>
            <p>Email: <a href="javascript:send(&quot;Graduate Office&quot;,&quot;fky11&quot;,&quot;fsu.edu&quot;)">send email</a><br />
            <a href="javascript:show(&quot; Graduate Office&quot;,&quot;fky11&quot;,&quot;fsu.edu&quot;)">show email</a></p>
            </td>
            <td>
            <p>Email: <a href="javascript:send(&quot;Undergrad Office&quot;,&quot;ugrad&quot;,&quot;physics.fsu.edu&quot;)">send email</a><br />
            <a href="javascript:show(&quot; Undergrad Office&quot;,&quot;ugrad&quot;,&quot;physics.fsu.edu&quot;)">show email</a></p>
            </td>
            <td>
            <p>Email: <a href="javascript:send(&quot;Planetarium&quot;,&quot;planetarium&quot;,&quot;physics.fsu.edu&quot;)">send email</a><br />
            <a href="javascript:show(&quot;Planetarium&quot;,&quot;planetarium&quot;,&quot;physics.fsu.edu&quot;)">show email</a></p>
            </td>
        </tr>
        <tr>
            <td><a class="c1" href="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Unknown+road&amp;daddr=30.446713,-84.301207&amp;geocode=FXrNzwEdMP_4-g%3B&amp;hl=en&amp;mra=dme&amp;mrcr=0&amp;mrsp=1&amp;sz=17&amp;sll=30.446648,-84.299705&amp;sspn=0.006465,0.008358&amp;ie=UTF8&amp;ll=30.430618,-84.324017&amp;spn=0.103462,0.133724&amp;z=13" target="_blank">Direction from Airport</a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<table border="0" cellpadding="2" cellspacing="0" class="object-left c3" width="1000">
    <tbody>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_1" name="eztoc2009360_0_1"></a>

            <h3><a id="faculty" name="faculty"></a>Faculty</h3>

            <p>Click on name for more information, research summary and further options, and on an e-mail address to send e-mail</p>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_1_1" name="eztoc2009360_0_1_1"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_1_2" name="eztoc2009360_0_1_2"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_1_3" name="eztoc2009360_0_1_3"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_1_4" name="eztoc2009360_0_1_4"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_1_5" name="eztoc2009360_0_1_5"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_1_6" name="eztoc2009360_0_1_6"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['faculty']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_2" name="eztoc2009360_0_2"></a>
            <h3><a id="adjfac" name="adjfac"></a>Teaching Faculty</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_2_7" name="eztoc2009360_0_2_7"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_2_8" name="eztoc2009360_0_2_8"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_2_9" name="eztoc2009360_0_2_9"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_2_10" name="eztoc2009360_0_2_10"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_2_11" name="eztoc2009360_0_2_11"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_2_12" name="eztoc2009360_0_2_12"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    <tr>
                    {%for f in all_people['teaching_faculty']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_3" name="eztoc2009360_0_3"></a>
            <h3><a id="gradfac" name="gradfac"></a>Graduate Research Faculty</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_3_13" name="eztoc2009360_0_3_13"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_3_14" name="eztoc2009360_0_3_14"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_3_15" name="eztoc2009360_0_3_15"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_3_16" name="eztoc2009360_0_3_16"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_3_17" name="eztoc2009360_0_3_17"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_3_18" name="eztoc2009360_0_3_18"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['research_faculty']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_4" name="eztoc2009360_0_4"></a>
            <h3 class="text-left"><a id="non-gradfac" name="non-gradfac"></a>Non-Graduate Faculty</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_4_19" name="eztoc2009360_0_4_19"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_4_20" name="eztoc2009360_0_4_20"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_4_21" name="eztoc2009360_0_4_21"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_4_22" name="eztoc2009360_0_4_22"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_4_23" name="eztoc2009360_0_4_23"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_4_24" name="eztoc2009360_0_4_24"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['nonr_fac']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_5" name="eztoc2009360_0_5"></a>
            <h3 class="text-left"><a id="emeritus" name="emeritus"></a>Emeritus Faculty</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_5_25" name="eztoc2009360_0_5_25"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_5_26" name="eztoc2009360_0_5_26"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_5_27" name="eztoc2009360_0_5_27"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_5_28" name="eztoc2009360_0_5_28"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_5_29" name="eztoc2009360_0_5_29"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_5_30" name="eztoc2009360_0_5_30"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['emeritus']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_6" name="eztoc2009360_0_6"></a>
            <h3 class="text-left"><a id="postdocs" name="postdocs"></a>Postdoctoral Fellows</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_6_31" name="eztoc2009360_0_6_31"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_6_32" name="eztoc2009360_0_6_32"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_6_33" name="eztoc2009360_0_6_33"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_6_34" name="eztoc2009360_0_6_34"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_6_35" name="eztoc2009360_0_6_35"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_6_36" name="eztoc2009360_0_6_36"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['postdocs']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        <tr>
            <td class="c1" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a id="eztoc2009360_0_7" name="eztoc2009360_0_7"></a>
            <h3 class="text-left"><a id="staff" name="staff"></a>Staff</h3>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2" width="950">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50"><a id="eztoc2009360_0_7_37" name="eztoc2009360_0_7_37"></a>

                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190"><a id="eztoc2009360_0_7_38" name="eztoc2009360_0_7_38"></a>
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="200"><a id="eztoc2009360_0_7_39" name="eztoc2009360_0_7_39"></a>
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90"><a id="eztoc2009360_0_7_40" name="eztoc2009360_0_7_40"></a>
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="180"><a id="eztoc2009360_0_7_41" name="eztoc2009360_0_7_41"></a>
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" width="150"><a id="eztoc2009360_0_7_42" name="eztoc2009360_0_7_42"></a>
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people['staff']%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
    </tbody>
</table>

