
<SCRIPT language=JavaScript>
    <!--

           function send(name, addy, domain) {
              s = 'ma' + 'ilto' + ':' + name + ' <' + addy + '@' + domain + '>';
              window.location.replace(s);
           }
           function show(name, addy, domain) {
              s = name + '\n' + addy + '@' + domain;
              alert(s);
           }
                
//--> </SCRIPT>
<div class="s3-m-4 s3-p-10 s3-w">
<div class="row">
<div class="col-12">
<div class="s3-p-10 s3-gt1k feature-fixed feature-fixed-1">
<center>
<h2 class="s3-fs-sm-3"><a href="/contact">Contact Us</a></h2>
</center>
</div>
</div>
</div>

<div>
<h3>Please click on option below</h3>

<ul>
    {%for category in category_labels%}
    <li><a href="#{{category}}" target="_self">{{category_labels[category]}}</a></li>
    {%endfor%}
	<li><a href="http://web2.physics.fsu.edu/Graduates/Our-Students/">Graduate Students</a></li>
</ul>
</div>

<table border="0" cellpadding="2" cellspacing="0" class="object-left c3" width="1000">
    <tbody>
        {%for category in category_labels%}
        <tr>
            <td class="c1" valign="top">

                <h3><a id="{{category}}" name="{{category}}"></a>{{category_labels[category]}}</h3>

            <p>Click on name for more information, research summary and further options, and on an e-mail address to send e-mail</p>

            <table border="0" cellpadding="2" cellspacing="0" class="object-left c2">
                <tbody>
                    <tr>
                        <td class="c1" valign="top" width="50">
                        <h4>&nbsp;</h4>
                        </td>
                        <td class="c1" valign="top" width="190">
                        <h4>Name</h4>
                        </td>
                        <td class="c1" valign="top" width="190">
                        <h4>Web</h4>
                        </td>
                        <td class="c1" valign="top" width="190">
                        <h4>Research</h4>
                        </td>
                        <td class="c1" valign="top" width="200">
                        <h4>Title</h4>
                        </td>
                        <td class="c1" valign="top" width="90">
                        <h4>Room</h4>
                        </td>
                        <td class="c1" valign="top" width="90">
                        <h4>Phone</h4>
                        </td>
                        <td class="c1" valign="top" >
                        <h4>Email</h4>
                        </td>
                    </tr>
                    {%for f in all_people[category]%}
                    <tr>
                        <td class="c1" valign="top">{{f.image}}</td>
                        <td class="c1" valign="top">{{f.name_and_link}}</a></td>
                        <td class="c1" valign="top">{{f.weblink}}</a></td>
                        <td class="c1" valign="top">{{f.research_area_web}}</a></td>
                        <td class="c1" valign="top">{{f.title}}</td>
                        <td class="c1" valign="top">{{f.room}}</td>
                        <td class="c1" valign="top">{{f.phone}}</td>
                        <td class="c1" valign="top"><a {{f.sendemail}}>send email</a><br>
                                                    <a {{f.showemail}}>show email</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="c1" valign="top"><a href="#top" target="_self">back to top</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>

